*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    padding-top: 60px;
    background-color: #2a2438;
    display: flex;
    justify-content: center;
}
.header{
    background-color: white;
}
#nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-inline: 20px;
    border-bottom: 1px solid grey;
    background-color: inherit;
    color: white;
    padding-bottom: 12px;
    
}
nav{
    background-color:  #2a2438;
    position: fixed;
    left :0;
    right: 0;
    top: 0;
    z-index: 100;
}
.logo > p{
    font-size: 30px;
    font-weight: 700;
}
.link-item-container{
    display: flex;
    
}
.link-item-container > ul{
    display: flex;
    align-items: center;
    column-gap: 30px;
    color: white;
}
.link-item-container > ul >li{
    padding-inline: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: #352f44;
}



li{
    list-style: none;
    font-weight: 700;
}

.signout-button{
    /* height: 35px;
    width: 80px; */
    background-color: inherit;
    color: #dbd8e3;
    font-size: 16px;
    font-weight: 700;
    border: none;
}

.blog-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    row-gap: 30px;
    margin-inline: 80px;
    margin-top: 10px;
}

.blogu-container{
    margin-top: 30px;
    margin-bottom: 50px;
}
.heading{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 10px;
    color: white;
    font-weight: 700;
}
.title-input-container{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin-bottom: 10px;
}
/* .blog-body-container{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
} */

.title-input-container > input{
    height: 50px;
    border:  2px solid #dbd8e3;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 700;
    background-color: #352f44;
    color: #dbd8e3 ;
}


.title-input-container > label,
.blog-body-input-container > label{
    font-size: 20px;
    font-weight: 600;
    color: #dbd8e3;
}

.jodit_container.editor{
    height: 300px;
}

.submit-blog-container{
    display: flex;
    justify-content: center;
}
.submit-blog-container > button{
    height: 40px;
    width: 120px;
    background-color: #352f44;
    color: white;
    font-size: 17px;
    font-weight: 700;
    border: none;
    margin-top: 20px;
}
.logged-layout{
    display: flex;
    justify-content: center;
}
.blogs-container{
   margin-top: 20px;
   width: 80%;
}

.blog-in-home{
    /* border: 1px solid #dbd8e3; */
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #352f44b3;
    height: 200px;
    padding-bottom: 5px;
}

.title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    color: white;
}

.body-container{
    font-size: calc(0.8vw + 0.9vh + 0.6vmin);
    color: #dbd8e3;
    padding: 10px;
    overflow: hidden;
    margin-bottom: 5px;
}

.read-more{
    background-color: white;
    position: absolute;
    bottom: 5px;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    background-color: inherit;
    padding-top: 5px;
}
.read-more > button{
    background-color: inherit;
    border: none;
    color:#dbd8e3;
    font-size: calc(.6vw + .6vh + .6vmin);
    font-weight: 700;
}

.LinkComp{
    color: black;
}

.blog-title{
    font-size: calc(1.3vw + 1.5vh + 1.3vmin);
    font-weight: 700;
}

.blog-details-container{
    display: flex;
    flex-direction: column;
    text-align: end;
    color: white;
    font-size: calc(.3vw + .3vh + .3vmin);
}

.blog-creation-date{
    font-size: calc(.5vw + .5vh + .5vmin);
}

.blog-author{
    font-size: 12px;
}

.solo-blog{
    background-color: #352f44;  
    width: 80%;
    margin-top: 60px;
    padding: 20px;
    margin-bottom: 60px;
}

.solo-blog-title{
    margin-bottom: 6px;
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
}

.solo-blog-body{
    font-size: 18px;
    color: #dbd8e3;
}

.solo-blog-details{
    color: rgb(227, 227, 227);
    text-align: end;
    margin-bottom: 15px;
    font-size: 13px;
}


.my-blogs > h2{
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
}
.my-blogs {
    margin-top: 30px;
    width: 80%;
}

.blog{
    position: relative;
    /* background-color: black; */
}
.delete-blog{
    position: absolute;
    top: 10px;
    right: 10px;
}

.delete-blog > button{
    color: white;
    background-color: #2a2438;
    border: none;
    font-weight: 700;
    font-size: calc(0.6vw + 0.6vh + 0.6vmin);
    margin-left: 5px;
    margin-bottom: 5px;
}
.landing{
    width: 350px;
    margin: auto 0 ;
}
.container{
    background-color: #352f44;
    padding: 15px;
    width: 100%;
}
.signup-container{
    display: flex;
    flex-direction: column;
}
.email,
.password,
.confirm-password{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    row-gap: 10px;
}

.signup-heading{
    margin-bottom: 20px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    color: white;
}

.email,
.password,
.confirm-password > label{
    font-size: 20px;
    font-weight: 500;
    color: #dbd8e3;
}


.email> input{
    height: 38px;
    background-color: #2a2438;
    border: 2px solid #5c5470;
    color: white;
    font-weight: 600;
    font-size: 18px;
    padding-left: 10px;
}
.password > input{
    height: 38px;
    background-color: #2a2438;
    color: white;
    border: 2px solid #5c5470;
    font-weight: 600;
    font-size: 18px;
    padding-left: 10px;
}
.confirm-password > input{
    height: 38px;
    background-color: #2a2438;
    color: white;
    border: 2px solid #5c5470;
    font-weight: 600;
    font-size: 18px;
    padding-left: 10px;
}

.submit-div{
    display: flex;
    justify-content: center;
}

.submit-div > button {
    height: 35px;
    width: 120px;
    margin-bottom: 15px;
    background-color: #2a2438;
    color: #dbd8e3;
    border: none;
    font-size: 17px;
    font-weight: 600;
}


.signup-to-login{
    display: flex;
    column-gap: 10px;
    font-size: 18px;
    align-items: center;
    color: white;
}

.signup-to-login > link{
    text-decoration: none;
}



/* HamburgerMenu.css */

.hamburger-menu {
    position: relative;
    display: none;
  }
  
  .hamburger-icon {
    background-color: inherit;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .menu {
    background-color: inherit;
    padding: 10px;
  }
  
  .menu ul {
    list-style-type: none;
    padding: 0;
  }
  
  .menu li {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }
  
  .menu a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Show menu when hamburger icon is clicked */
  /* .hamburger-menu:hover .menu {
    display: block;
  } */
  

  
@media screen and (max-width: 786px){
    .blogs-container{
        width: 90%;
    }
    .my-blogs{
        width: 90%;
    }
    .blogu-container{
        width: 90%;
    }
    .title-input-container{
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .solo-blog{
        width: 90%;
    }
    .link-item-container{
        display: none;
    }
    .hamburger-menu{
        display: block;
    }
    .menu{
        display: block;
    }
}
